.corpo {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  background: url(../assets/imgs/wall.png);
  padding: 2rem;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .corpo {
    flex-direction: row;
  }
}

.panel {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.panel__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

@media screen and (min-width: 768px) {
  .panel__row {
    height: auto;
  }
}

.square {
  max-width: 20rem;
  max-height: 20rem;
  background: var(--color-block);
  border: .1rem solid var(--darker);
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.square[data-enemy] {
  background-image: url(../assets/imgs/ralph.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.square[data-enemy].hit::after {
  background-image: url(../assets/imgs/hit.png);
  background-position: center;
  background-size: cover;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}