.endGame {
  align-self: center;
  flex: 1;
  font-size: 1.5rem;
  color: var(--lighter);
  background-color: var(--color-secondary);
  border: 1rem dashed var(--color-main);
  padding: .5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.endGame.active {
  display: block;
}

.endGame__wrapper {
  background-color: var(--darker);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.endGame__btn {
  background: none;
  font-family: inherit;
  color: var(--lighter);
  border: 0;
  cursor: pointer;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.endGame__btn:hover {
  color: var(--color-main-hover);
}